.menu-item {
    display: flex;
    font-size: 1.8rem;
    font-weight: 700;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:visited {
        color: black;
    }
    &.active {
        color: var(--primary);
    }
}

.title {
    margin-left: 10px;
}
