.menu-list {
    width: 224px;

    .menu-item {
        width: 100%;
        margin-left: 0 !important;
        display: flex;
        justify-content: flex-start;
        border-radius: 0;
        font-weight: 600;
        line-height: 1.8rem;

        &:hover {
            background-color: var(--hover);
        }
    }

    .separate {
        border-top: 1px solid rgba(22, 34, 35, 0.12);
    }
}

.menu-body {
    overflow-y: auto;
}

// Header
.header {
    margin-top: -8px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.back {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
}
